@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    font-size: 0.875rem; /* 14px */
}

header {
    background-color: #ffe0b2;
    color: #5d4037;
    padding: 1rem 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logo img {
    max-width: 120px;
    margin: 0 1rem;
}

.header-text h1 {
    margin: 0;
    font-size: 1.25rem; /* 20px */
}

.header-text p {
    margin: 0;
    font-size: 1rem; /* 16px */
}

nav {
    background-color: #ffccbc;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #5d4037;
    text-decoration: none;
    padding: 1rem;
    display: block;
    font-size: 0.875rem; /* 14px */
}

nav ul li a:hover {
    background-color: #ffab91;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.menu-item {
    background-color: #fff3e0;
    border-radius: 5px;
    margin: 0.5rem; /* Ajuste o espaçamento entre os itens */
    padding: 0.5rem; /* Reduza o padding */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: calc(25% - 1rem); /* Ajuste a largura para diminuir o tamanho dos itens */
    display: flex;
    align-items: center;
}

.menu-item img {
    width: 100px; /* Reduza a largura da imagem */
    height: 130px; /* Reduza a altura da imagem */
    border-radius: 5px;
    object-fit: cover;
    margin-right: 1rem; /* Espaçamento entre a imagem e o texto */
}

.menu-item-text {
    flex: 1;
}

.menu-item h3 {
    margin: 0.5rem 0;
    font-size: 0.875rem; /* Reduza o tamanho da fonte */
}

.menu-item p {
    margin: 0.5rem 0;
    font-size: 0.75rem; /* Reduza o tamanho da fonte */
}

.menu-item span {
    font-weight: bold;
    margin-top: 0.5rem;
}

.add-to-cart {
    margin-top: 0.5rem;
    background-color: #ffcc80;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #5d4037;
    cursor: pointer;
    font-size: 0.75rem; /* Reduza o tamanho da fonte */
}

.add-to-cart:hover {
    background-color: #ffb74d;
}

#cart, #checkout-form {
    background-color: #fff3e0;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: calc(100% - 2rem);
}

#cart ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer {
    background-color: #ffe0b2;
    color: #5d4037;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.875rem; /* 14px */
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffcc80;
    color: #5d4037;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.875rem; /* 14px */
}

.back-to-top:hover {
    background-color: #ffb74d;
}

.payment-methods {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.payment-methods img {
    width: 50px;
    margin-left: 10px;
}

h2 {
    text-align: center;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.remove-from-cart {
    background-color: #ff5252;
    border: none;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.remove-from-cart:hover {
    background-color: #ff1744;
}

.checkout-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        width: 90%;
        flex-direction: column; /* Alterar a direção do flex para coluna em telas menores */
        text-align: center;
    }

    .menu-item img {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    .menu-container {
        flex-direction: column;
        align-items: center;
    }

    #cart, #checkout-form {
        width: 90%; /* Ajuste a largura conforme necessário */
    }

    .checkout-container {
        flex-direction: column;
        align-items: center;
    }
}
